# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3

# Env files
.env

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

#node_modules
node_modules/
dist/


